<!-- makes new game -->
    <% @game = Game.new %>
    <% @game.name = "" %>

<% @game.player_id = current_player.id %>


<!-- Creates a game -->
<%= simple_form_for @game do |f| %>
    <%= f.input :name, :as => :hidden %>
    <%= f.input :id ,:as => :hidden %>
    <%= f.input :player_id, :as => :hidden %>
    <!-- , :as => :hidden -->
    <br />
  <button> <a  style="text-decoration: underline;color:grey;" >New Game</a><% f.submit  %></button>
  
<% end %>
