// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show {

  background: url(mountainback.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50em;

}

.circle {
    position: relative;
    border-radius: 100%;
    background: yellow;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    font-size: 10px;
    line-height: 16px;
    
    
}
.egg {
   position: relative;
   display:block;
   width: 62px;
   height: 90px;
   background-color: white;
   color: red;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;


  
}

.egg:hover {
    background-color: yellow;
}

.cross {
    position: relative;
    border-radius: 100%;
    background: red;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    font-size: 10px;
    line-height: 16px;


}

.linetop
{
   background: black;
   width: 500px;
   height: 15px;
   position: relative;
   left: 200px;
   bottom: 100px;
   
 }

 .linetop:after

 {
   background: black;
   content: "";
   width: 500px;
   height: 15px;
  
   position: absolute;
   bottom: 160px;
   
 }

.linebottom
{
   background: black;
   width: 500px;
   height: 15px;
   position: relative;
   transform:rotate(90deg);
   bottom: 100px;
   right: 75px;
   
 }

 .linebottom:after

 {
   background: black;
   content: "";
   width: 500px;
   height: 15px;
  
   position: absolute;
   bottom: 160px;
   
 }
#topleft
{
 position:absolute;
 left:400px; 
 top:300px;
}

.moveleft {

position: absolute;
left: 275px;

}

body {
    -moz-transform: scale(0.6, 0.6); /* Moz-browsers */
    zoom: 0.6; /* Other non-webkit browsers */
    zoom: 60%; /* Webkit browsers */
    padding:0;
    margin:0;
}

.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
}
.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
.bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  background: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 30px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}



